/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  /* Style for "Layer 0" */
  width: 1440px;
  height: 1700px;
  background-color: #e8e8e8;
}

.content {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  margin: 0px auto;
  max-width: 841px;
  padding: 123px 0 858px 0;
}

.cont-top-zag {
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  padding: 0 0 24px 0;
}

.cont-top-obz {
  color: #273d46;
  font-size: 20px;
}
.cont-top-obz li {
  background: url("../img/icons/check_icon.png") left no-repeat;
  padding: 0 0 0 30px;
}

.cont-top-obz li:nth-child(1) {
  text-decoration: line-through;
  margin: 0px 0px 13px 0px;
}

.cont-top-obz li:nth-child(2) {
  font-weight: bold;
  margin: 0px 0px 16px 0px;
}

.cont-top-obz li:nth-child(3) {
  font-style: italic;
  margin: 0px 0px 17px 0px;
}

.cont-top-obz li:nth-child(4) {
  text-transform: uppercase;
  margin: 0 0 81px 0;
}

.content-bottom {
  color: #273d46;
}
.navedi {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.content-bottom li {
  background: url("../img/icons/check_icon.png") left no-repeat;
  padding: 0 0 0 30px;
}
.content-bottom li:nth-child(1) {
  text-decoration: line-through;
  margin: 0px 0px 13px 0px;
}
.content-bottom li:nth-child(2) {
  font-weight: bold;
  margin: 0px 0px 17px 0px;
}
.content-bottom li:nth-child(3) {
  font-style: italic;
  margin: 0px 0px 17px 0px;
}
.content-bottom li:nth-child(4) {
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
}
.content-bottom li:nth-child(1):hover {
  text-decoration: none;
}
.content-bottom li:nth-child(2):hover {
  color: #d55a5a;
  background: url("../img/icons/red.png") left no-repeat;
}
.content-bottom li:nth-child(3):hover {
  text-decoration: none;
  font-style: normal;
}
.content-bottom li:nth-child(4):hover {
  text-decoration: none;
  font-style: normal;
  text-transform: none;
}
.icons {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}
.ic1 {
  height: 44px;
  display: inline-block;
  line-height: 44px;
  padding: 0px 30px;
  border-radius: 24px;
  background-color: #80b7b3;
  -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}
.ic1 span {
  padding: 0px 30px 0px 0px;
  background: url("../img/icons/Shape_2.png") right no-repeat;
}
.ic2 {
  height: 44px;
  display: inline-block;
  line-height: 44px;
  padding: 0px 30px;
  border-radius: 24px;
  background-color: #80b7b3;
  -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}
.ic2 span {
  padding: 0px 30px 0px 0px;
  background: url("../img/icons/Shape_2.png") right no-repeat;
}
.ic3 {
  height: 44px;
  display: inline-block;
  line-height: 44px;
  padding: 0px 30px;
  border-radius: 24px;
  background-color: #80b7b3;
  -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}
.ic3 span {
  padding: 0px 30px 0px 0px;
  background: url("../img/icons/Shape_2.png") right no-repeat;
}
.ic2:hover {
  background-color: #3a5856;
}
.ic3:active {
  background-color: #818181;
}

/*		<div class="icnorm">
						<a target="_blank" href="http://google.com" class="ic1">
						<span>Full Story</span>
						</a>
					</div>
					<div class="ichov">При наведении 
						<a target="_blank" href="http://google.com" class="ic2">
						<span>Full Story</span>
						</a>
					</div>
					<div class="icact">При нажатии 
						<a target="_blank" href="http://google.com" class="ic3">
						<span>Full Story</span>
						</a></div>
					<div class="input">
					<div class="incomment">Фокус</div>     */
